body{
    font-family: poppins;
}

*{
    margin: 0;
}
nav ul li{
    list-style: none;
    color: #615f5a;
    font-weight: 600;
}
nav ul{
    display: flex;
    gap: 30px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: #fff9ea;
    padding: 20px 140px;
    align-items: center;
}
.icon{
    display: flex;
    gap: 30px;
    align-items: center;
}
.sign-in{
    background-color: #ffcb45;
    padding: 2px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 800;
    width: 120px;
    height: 35px;
}
/* hero section */
.hero-section{
    background-image: url(/images/shapes.png);
    height: 600px;
    background-size: contain;
    padding: 12px, 140px;
}
.left-container{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 140px;
    
}
.left-content{
    line-height: 50px;

}
/* how it works section */
.work-section{
    margin-top: 80px;
    margin-bottom: 100px;
}
.services{
    margin: 30px 200px;
    display: flex;
    gap: 155px;
    text-align: center;
    
}
/* popular menu style */
.food-menu{
    /* width: 1150px;
    height: 650px; */
}
.food-images{
    display: flex;
    gap: 15px;
    margin-top: 15px;
    /* justify-content: space-around; */
    padding: 0 80px;
    
    
    
}
.food{
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 15px 15px 0 0 
    
}

.food-icons{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
    
.food-name{
    text-align: center;
    box-shadow: 2px 2px 5px #e9e9e9; 
    margin-bottom: 50px;
}
/* testimonial style */

.down-image{
    position: relative;
    bottom:35px ;
    display: flex;
}
.image-2{
    position: relative;
    right: 25px;
}
/* comment section style */
.testimonial{
    display: flex;
    margin-left: 150px;
    margin-top: 40px;
    overflow: hidden;
}
.what-the-say{
    background-color: #f1f1f1;
    padding: 20px 15px;
    border-radius: 15px;
    width: 400px;
}
.comment-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.comment-container{
    margin-left: 30px;
}

/* cta style */
.cta{
    margin-left: 50px 80px;
}
.background{
    position: relative;
    height: auto;
    width: auto;
    align-items: center;
     margin: 0 50px;
}
.middle{
    
    position: absolute;
    top: 130px;  
    left: 400px;
    color: #e9e9e9;    
}
/* footer style */
footer{
    margin: 40px 30px ;
    
    /* height: 100px;
    width: 300px; */
}
.last-section{
    background-image: url(/images/bg-image.png);
    height: 200px;
    padding: 90px 70px;
    
}
.all-footer-element{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    font-size: 30px;
}
.hold{
    margin-top: 15px;
    gap: 10px;
}




